
<!DOCTYPE html>
  <html>
    <head>
     <title>Chomped</title>
     <meta charset="UTF-8">
        <link rel="stylesheet" type="css" href="/css/application.css">
    </head>
    
    <body>

    <div align = "center"> 
      <p title="Om nom nom!">
	      <img id = "easter egg" onclick="changeImage()" src="/img/chomp.JPG" alt="chomped.com" width="260" height="260">
      </p> 
    </div>

    <div align= "center" style= "color:#00008B"> 
      <font face= "fantasy">
        <h1> 
          <p title="Happy Chomper"> 
              CHOMPED 
          </p> 
        </h1>
      </font>
    </div>
    
    <script src="/js/application.js"></script>

<hr>    
<section class="seksyen">
  
<%=yield %>

<br/>
</section>
    </body>
  </html>


